[Unit]
Description=Logitech Configuration Daemon
After=network.target
Wants=network.target

[Service]
Type=simple
ExecStartPre=/bin/sleep 5
ExecStart=/usr/local/bin/logid -c /etc/logid.cfg
User=root
Restart=always
#WatchdogSec=30s

[Install]
WantedBy=multi-user.target
